
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #096097;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
body { 
    min-height: 100vh;
    overflow-x: hidden;
}

/* =============== Debut Sidebar ================ */
.navigation {
    position: fixed;
    width: 230px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
  }
  .navigation.active {
    width: 60px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);
  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--blue);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 75px;
    text-align: center;
  }
  .navigation ul li a .icon .fa-solid .fa-gear {
    font-size: 1.5rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 65px;
    text-align: start;
    white-space: nowrap;
    font-size: x-small;
    font-family: 'Ubuntu', sans-serif;
  }
  /* =============== Fin Sidebar ================ */
  
  /* --------- curve border à l'extérieur ---------- */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
  }


  /* ===================== Début Navbar ===================== */
  .navbar {
    width: 100%;
    right: 0;
    height: 50px;
    padding-top: 7px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;  
  }
  
  .toggle {
    width: 40px;
    height: 40px;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f99324 ;
    position: fixed;
    left: 0;
  }
  .user {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    right: 0;
  }
  .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    /* ===================== Fin Navbar ===================== */

  /* ===================== Main Content ===================== */
  .main-content {
    position: absolute;
    width: auto;
    left: 290px;
    transition: 0.5s;
  }
  .main-content.active {
    left: 120px;
  }
  
             /* ===================== Table des réservations ===================== */
  .table-container {
   height: auto;
   margin-top: 40px;
   margin-right: 20px;
   border-radius: 8px;
     
}
.table thead tr th{
  font-family:'Times New Roman', Times, serif;
}
.table{
  width: 90%;
}
.table thead tr td{
  border-bottom: 1px dolid #cccc;
}

#reservations_datatable_wrapper {
  border-bottom: none; 
  }

  #btn1, #btn2 {
  border-radius: 6px; 
  width: 120px; 
  padding: 4px;
  margin-bottom: 10px;
  margin-left: 40px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-small;
   
  }

  #btn1 {
  background-color: #5dac0e;
  }
  #btn1:hover{
  background-color: #82b684;
  }

  #btn2 {
  background-color: #cf2945;
  padding: 4px 10px 4px 10px;
  }
 #btn2:hover{
  background-color: #db6a6a;
  }
 #reservations_datatable_filter{
  margin-bottom: 20px;
  }
 #reservations_datatable_filter label{
  margin-bottom: 30px;
  margin-left:80px;

}
#reservations_datatable_filter label #text{
  color: blue;
  font-weight: bold;
}
#reservations_datatable_filter input[type="search"]{
   border: 2px solid #2679e7;
   border-radius: 20px;
   box-shadow: 0 5px 8px #9a9a9a; 
   outline: none;
   height: 35px;
   width: 220px;
}
.dataTables_length{
  margin-bottom: 20px;
}
.dataTables_length label{
  margin-left: 110px
}
#table_reservation h2{
  font-family: var(--bs-font-sans-serif);
font-size: xx-large;
  font-weight: 500;
  color: #212529;
}
#table_reservation td{
  font-family: var(--bs-font-sans-serif);
  color: #212529;

}

.main-content.active #table_reservation{
  left: 230px;
}


/* table emprunts*/
#historique_emprunts_datatable_filter input[type="search"]{
  border: 2px solid #2679e7;
  border-radius: 20px;
  box-shadow: 0 5px 8px #9a9a9a; 
  outline: none;
  height: 35px;
  width: 220px;
}
#historique_emprunts_datatable_filter label #text{
  color: blue;
  font-weight: bold;
}
#historique_emprunts_datatable tr th, #historique_emprunts_datatable tr td{
     font-size: small;
     font-family: 'Times New Roman', Times, serif;
    
}
#historique_emprunts_datatable tr td{
  border-left: 0.5px solid #d4d4d4;
  border-right: 0.5px solid #d4d4d4;
}
#historique-emprunt h2{
  font-family: var(--bs-font-sans-serif);
font-size: xx-large;
  font-weight: 500;
  color: #212529;
  margin-left: 80px;
}

.returnEmprunt{
  text-decoration: none; 
  background-color:#f99324;
   font-size:x-small;
    font-family:cursive; 
    border-radius:8px;
     height:45px;
     padding: 4px; 
     color:rgb(24, 24, 24);
     font-weight: 200;
     box-shadow: 0 3px 3px #9a9a9a;
}
.returnEmprunt:hover{
  background-color: #de6c1b;
  color: #f5f5f5;
}