
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #096097;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
body { 
    min-height: 100vh;
    overflow-x: hidden;

}


/* =============== Debut Sidebar ================ */
.navigation {
    position: fixed;
    width: 230px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    left: 0;
  }
  .navigation.active {
    width: 60px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: -30px;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 116.5%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);

  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--blue);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 75px;
    text-align: center;
  }
  .navigation ul li a .icon .fa-solid .fa-gear {
    font-size: 1.5rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 65px;
    text-align: start;
    white-space: nowrap;
    font-size: x-small;
    font-family: 'Ubuntu', sans-serif;
  }
  /* =============== Fin Sidebar ================ */
  
  /* --------- curve border à l'extérieur ---------- */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -25px;
    width: 23px;
   height: 43px;
    background-color: transparent;
    border-radius: 80%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
   
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 23px;
    height: 43px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
   
  }






  /* ===================== Début Navbar ===================== */
  .navbar {
    width: 100%;
    right: 0;
    height: 50px;
    padding-top: 7px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  
  }
  
  .toggle {
    width: 40px;
    height: 40px;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f99324 ;
    position: fixed;
    left: 0;
  }
  
  .user {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    right: 0;
  }
  
  .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    /* ===================== Fin Navbar ===================== */

  /* ===================== Main Content ===================== */
  .main-content {
    position: absolute;
    width: calc(100% - 300px);
    left: 280px;
    min-height: 100vh;
    transition: 0.5s;
  }
  .main-content.active {
    width: calc(100% - 80px);
    left: 80px;
  }


.search2 {
  position: relative;
  width: 300px;
  margin-left: 100px;
  margin-bottom: 10px;
  border-radius: 20px ;
  padding: 5px;

}

.search2 label {
  position: relative;
  width: 100%;
}

.search2 input[type="search"] {
  width: 70%;
  height: 20px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: none;
    border:1.3px solid #003fde;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
    box-shadow: 0 5px 8px #9a9a9a; 
}
.search2 button{
  border: 1px solid #096097;
  background-color: #096097;
  border-radius: 10px;
  cursor: pointer;
  height: 30px;
  font-size: xx-small;
  width: 65px;
  color: white;
  font-weight: 500;
  font-family: 'ubuntu';
}

#ajouter-btn , #excelfile{
    background-color: #f99324;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    width: 70px;
    font-family: 'ubuntu';
    font-weight:500;
    font-size: x-small;
}
#excelfile{
  width: 90px;
}


  /*===============modification et ajout ===============*/

.main{
  display: grid;
 grid-template-columns: repeat(2,1fr);
 gap: 20px;
}
.main .table1{
  background-color: white;
  box-shadow: 0 5px 5px #aeadad;
  border-radius: 8px;
}

.table-cont th, .table-cont td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
.table-cont th{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-small;
  color: white;
}

.table-cont td{
  font-family: 'ubuntu';
  font-size:x-small;
}

.table-cont th{
  background-color: #096097;
}
.table-cont img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.button1{
  background-color: #5dac0e;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: xx-small;
  padding: 3px;
  border: none;
  margin-bottom: 3px;
}

.fa-solid.fa-pen{
 width: 30px;
 font-size: 13px;
}

.button1:hover{
  background-color: #82b684;
}

.button2{
  background-color: #cb0b0b;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: xx-small;
  border: none;
  padding: 3px;
}

.fa-solid.fa-trash{
width: 30px;
font-size: 13px;
}

.button2:hover{
  background-color: #db6a6a;
}


/* ============================*/
.grid2 {
  padding: 20px 10px;
  margin-right: 20px;
}

.informations label{
color: rgb(0, 0, 0); 
margin-right: 30px;
width: 150px;
font-family: 'ubuntu';
font-size: small;
}
.informations input{
 border-color: #096097;
 border-radius: 20px;
 padding-left: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 height: 20px;
 outline: none;
}
.informations input::placeholder{
color: rgb(163, 159, 159);
text-align: center;
font-size: xx-small;
font-family: 'ubuntu';
}
.informations table{
 padding-left: 30px;
 border-collapse: separate;
 border-spacing: 0 10px;
}
.informations table tr{
 padding-bottom: 8px;
}
.informations .valider{
 padding: 3px;
 background-color: #e8791e;
 border: none;
 border-radius: 20px;
 cursor: pointer;
 width: 90px;
 height: 30px;
 margin-top: 20px;
 margin-left: 20px;
 font-size: small;
 font-family: 'ubuntu';
 transition: background-color 0.3s ease;
}
.informations .valider:hover{
 background-color: #2679e7;
}
.informations select{
 height: 30px;
 border-radius: 5px;
 border:1.5px solid #096097;
}
.informations #editeur{
  width: 150px;
}
.input-file-button {
  border-radius: 8px;
  background-color: #096097;
  padding:5px; 
  border: none;
  cursor: pointer; 
  width: 30px;
  height: 10px;
  color: white; 
  font-size: xx-small;
  margin-left: 20px;
  font-family: 'ubuntu';
}
.input-file-button:hover{
  background-color: skyblue; 
  color: rgb(0, 0, 0);
}

.input-file-label {
  margin-left: 10px; 
  font-size: xx-small;
  font-family: 'ubuntu';
}

