
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #096097;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
body { 
    min-height: 100vh;
    overflow-x: hidden;

}


/* =============== Debut Sidebar ================ */
.navigation {
    position: fixed;
    width: 230px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    left: 0;
  }
  .navigation.active {
    width: 60px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: -30px;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 116.5%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);

  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--blue);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 75px;
    text-align: center;
  }
  .navigation ul li a .icon .fa-solid .fa-gear {
    font-size: 1.5rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 65px;
    text-align: start;
    white-space: nowrap;
    font-size: x-small;
    font-family: 'Ubuntu', sans-serif;
  }
  /* =============== Fin Sidebar ================ */
  
  /* --------- curve border à l'extérieur ---------- */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -25px;
    width: 23px;
   height: 43px;
    background-color: transparent;
    border-radius: 80%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
   
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 23px;
    height: 43px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
   
  }






  /* ===================== Début Navbar ===================== */
  .navbar {
    width: 100%;
    right: 0;
    height: 50px;
    padding-top: 7px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  
  }
  
  .toggle {
    width: 40px;
    height: 40px;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f99324 ;
    position: fixed;
    left: 0;
  }
  
  .user {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    right: 0;
  }
  
  .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    /* ===================== Fin Navbar ===================== */

  /* ===================== Main Content ===================== */
  .main-content {
    position: absolute;
    width: calc(100% - 300px);
    left: 280px;
    min-height: 100vh;
    transition: 0.5s;
  }
  .main-content.active {
    width: calc(100% - 80px);
    left: 80px;
  }




/*================================================================================*/


/* Style du gestion de la regle d'emprunt */



#regle_datatable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.modal-header{
  background-color: #096097;
  color: #fff;
}



/* ============Style des statistiques===============*/

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxstat {
  flex: 1;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px  #9a9a9a;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}

.boxstat h3 {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0;
  font-size: 16px;
  color: #333;
}

.bar canvas {
  height: 300px !important;
  width: 500px !important;
}

.pie canvas {
  height: 280px !important;
  width: 300px !important;
}

.daily p{
  margin-bottom: 10px;
  color: #003fde;
  font-family: cursive;
}
.daily{
  width: 240px !important;
  height: 126px !important;
}

#dailyEmpruntsCount {
  font-size: 40px;
  color: orange;
  font-family: 'Arial', sans-serif;
}

#reservations_datatable tbody tr td {
  border: 1px solid #ccc !important;
  height: auto;
}
#reservations_datatable{
  height: auto;
}

