
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #096097;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
  }
body { 
    min-height: 100vh;
    overflow-x: hidden;

}


/* =============== Debut Sidebar ================ */
.navigation {
    position: fixed;
    width: 230px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    left: 0;
  }
  .navigation.active {
    width: 60px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: -30px;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 116.5%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover,
  .navigation ul li.hovered {
    background-color: var(--white);

  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--blue);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 40px;
    height: 40px;
    line-height: 75px;
    text-align: center;
  }
  .navigation ul li a .icon .fa-solid .fa-gear {
    font-size: 1.5rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 65px;
    text-align: start;
    white-space: nowrap;
    font-size: x-small;
    font-family: 'Ubuntu', sans-serif;
  }
  /* =============== Fin Sidebar ================ */
  
  /* --------- curve border à l'extérieur ---------- */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -25px;
    width: 23px;
   height: 43px;
    background-color: transparent;
    border-radius: 80%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
   
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -25px;
    width: 23px;
    height: 43px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
   
  }






  /* ===================== Début Navbar ===================== */
  .navbar {
    width: 100%;
    right: 0;
    height: 50px;
    padding-top: 7px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  
  }
  
  .toggle {
    width: 40px;
    height: 40px;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f99324 ;
    position: fixed;
    left: 0;
  }
  
  .user {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    right: 0;
  }
  
  .user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    /* ===================== Fin Navbar ===================== */

  /* ===================== Main Content ===================== */
  .main-content {
    position: absolute;
    width: calc(100% - 300px);
    left: 280px;
    min-height: 100vh;
    transition: 0.5s;
  }
  .main-content.active {
    width: calc(100% - 80px);
    left: 80px;
  }




/*================================================================================*/


/* Style du gestion de la regle d'emprunt */



#regle_datatable tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
.modal-header{
  background-color: #096097;
  color: #fff;
}



/* ============Style des statistiques===============*/

.charts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxstat {
  flex: 1;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px  #9a9a9a;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
}

.boxstat h3 {
  position: absolute;
  top: 10px;
  left: 20px;
  margin: 0;
  font-size: 16px;
  color: #333;
}

.bar canvas {
  height: 300px !important;
  width: 500px !important;
}

.pie canvas {
  height: 280px !important;
  width: 300px !important;
}

.daily p{
  margin-bottom: 10px;
  color: #003fde;
  font-family: cursive;
}
.daily{
  width: 240px !important;
  height: 126px !important;
}

#dailyEmpruntsCount {
  font-size: 40px;
  color: orange;
  font-family: 'Arial', sans-serif;
}

#reservations_datatable tbody tr td {
  border: 1px solid #ccc !important;
  height: auto;
}
#reservations_datatable{
  height: auto;
}

/*  ancien code de regle emprunt 
.regles-container{
  padding-left: 100px;
  padding-right: 150px;
  padding-top: 30px;
}

#regle-form {
  margin-top: 20px;
  padding: 10px;
  border: 1.5px solid #096097;
  border-radius: 10px;
  background-color: #629f9b;
  width: 270px;
}
#regle-form select{
  border: 1px solid #096097;
}

#regle-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-family: cursive;
  font-size: small;
  color: white;
}

#regle-form input[type="number"] {
  width: calc(100% - 30px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1.5px solid #003fde;
  border-radius: 8px;
  height: 32px;
}

#regle-form button[type="submit"] {
  padding: 8px;
  background-color: #096097;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: small;
  width: 95px;
}
#ajouter-regle{
  background-color: #f99324;
  border-radius: 10px;
  border: none;
  height: 40px;
  font-size: x-small;
  font-weight: 500; 
  font-family: 'ubuntu';
  width: 110px;
  box-shadow: 0 5px 5px #9a9a9a;
}
#ajouter-regle:hover{
  background-color: #f86c20;
}
#regle-form button[type="submit"]:hover {
  background-color: #096097;
}

#regles-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
 border: none;
 
}



#regles-table th,
#regles-table td {
  padding: 8px;
  text-align: left;

}
#regles-table td {
border-left: 1px solid #ccc;
border-bottom:  1px solid #ccc;
border-right: 1px solid #ccc;}


#regles-table thead tr {
  background-color: #096097;
  color:white;
  font-size: small;
  font-weight: 500;

}
#regles-table thead tr #last{
  border-top-right-radius: 10px;

}
#regles-table thead tr #first {
  border-top-left-radius: 10px;
}
.button1,.button2{
  border: none;
  border-radius: 10px;
  height: 30px;
  color: white;
  font-size: x-small;
  font-family: 'ubuntu';
  width: 63px;
}
.button1{
  background-color:#5dac0e ;
}
.button1:hover{
  background-color: #417d05;
}
.button2{
  background-color: rgb(227, 32, 71);
}
.button2:hover{
  background-color: brown;
}
*/

