* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    background-image: url('/images/Bib-FSTS.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.gradient {
    z-index: 1;
    /*background: linear-gradient(-45deg,blue, #096097, #3f9ece ,#0077b6);*/
    
    background-size: 400% 400%;
    width: 100%;
    height: 100vh;
    animation: animate 15s ease infinite;
}

.gradient ul {
    height: 50px;
    display: flex;
    justify-content: center;
}
.gradient ul li {
    display: inline-block;
    padding: 40px 15px;
}
.gradient ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px 10px;
    font-family: cursive;
}
button{
    border:none;
    border-radius: 50px;
    padding: 5px 8px ;
    background-color: #ff882c;
}

.gradient .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 280px);
    text-align: center;
}

.text-anime {
    display: flex;
    align-items: center;
    margin-top: 15%;
    color: #fff;
    font-size: 60px;
    font-family: cursive;
}
.text-anime img.logo {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;

}


.text-anime span {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #fd631a;
    animation: typing 4s steps(30, end), erase 4s steps(30, end) 4s, blink 0.75s step-end infinite;
    animation-delay: 0s, 4s, 8s;
    animation-iteration-count: infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: #fd631a; }
}

@keyframes erase {
    from { width: 100%; }
    to { width: 0; }
}

@keyframes animate {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}
